<phpunit bootstrap="tests/Bootstrap.php">
    <testsuites>
        <testsuite name="unit-tests">
            <file>tests/SessionTest.php</file>
            <file>tests/UserTest.php</file>
            <file>tests/AccountTest.php</file>
            <file>tests/AdminTest.php</file>
            <file>tests/BitcasaApiTest.php</file>
            <file>tests/FileSystemTest.php</file>
            <file>tests/ShareOperationsTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>
