<phpunit bootstrap="test/Bootstrap.php">
    <testsuites>
        <testsuite name="unit-tests">
            <file>test/SessionTest.php</file>
            <file>test/UserTest.php</file>
            <file>test/AccountTest.php</file>
            <file>test/AdminTest.php</file>
            <file>test/BitcasaApiTest.php</file>
            <file>test/FileSystemTest.php</file>
            <file>test/ShareOperationsTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>
